<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <script type="text/javascript">
      /*
      * 登録前チェック
      */
      function conrimMessage() {
        var id = document.getElementById("id").value;

       //必須チェック
       if(id == "") {
          alert("必須項目が入力されていません。");
          return false;
       }

        return true;
      }

   </script>
</head>
  <body>
  <h1>メールアドレス変更画面</h1>
  <form action="/password_reset_mail" method="post" onsubmit="return conrimMessage();">
  <table border="0">
    <tr>
      <td><input type="text" name="uid" id="id" placeholder="ユーザーIDを入力"></td>
    </tr>
    <tr>
      <td><input type="email" name="id" id="id" placeholder="変更後のメールアドレスを入力"></td>
    </tr>
  </table>
  <input type="submit" value="送信">
  <input type="button" value="戻る" onclick="history.back();">
  <input id="token" type="hidden" name="_csrf" value="<%= reqCsrf %>"><!-- csrfToken -->
  </form>
  </body>
</html>
