<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <script type="text/javascript">
      function conrimMessage() {
        var id = document.getElementById("id").value;
        var gname = document.getElementById("gname").value;
        var place = document.getElementById("place").value;
        var cate = document.getElementById("cate").value;
        var gmood = document.getElementById("gmood").value;
        var gintro = document.getElementById("gintro").value;
       //必須チェック
        if((id == "")||(gname == "")||(place == "")||(cate == "")||(gmood == "")||(gintro == "")){
          alert("必須項目が入力されていません。");
          return false;
        }
        return true;
      }

   </script>
</head>
  <body>
  <h1>グループ作成画面</h1>
  <form action="/group_makeing_confirm" method="post" onsubmit="return conrimMessage();">
  <table border="0">
      <tr>
        <td><input type="text" name="gid" id="id" placeholder="グループIDを入力"></td>
      </tr>
    <tr>
      <td><input type="text" name="gname" id="gname" placeholder="グループ名を入力"></td>
    </tr>
    <tr>
      <td><input type="text" name="place" id="place" placeholder="活動範囲を選択"></td>
    </tr>
    <tr>
      <td><input type="text" name="cate" id="cate" placeholder="よく使う言語"></td>
    </tr>
    <tr>
      <td><input type="text" name="gmood" id="gmood" placeholder="グループの雰囲気"></td>
    </tr>
    <tr>
      <td><input type="text" name="gintro" id="gintro" placeholder="グループの紹介文"></td>
    </tr>
  </table>
  <input type="submit" value="送信">
  <input type="button" value="戻る" onclick="history.back();">
  <input id="token" type="hidden" name="_csrf" value="<%= reqCsrf %>"><!-- csrfToken -->
  </form>
  </body>
</html>
